<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Navitaire.Ncl.ComponentManager" type="Navitaire.Ncl.ComponentManagement.ComponentManagerConfigurationSection, Navitaire.Ncl" />
    <section name="Navitaire.Ncl.ComponentManagement.InProcess.ConfigFileInProcessCatalogLoadStrategy" type="Navitaire.Ncl.ComponentManagement.InProcess.ConfigFileInProcessCatalogLoadStrategySection, Navitaire.Ncl" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vueling.Configuration.Library" publicKeyToken="64469f821e1d1c06" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.1" newVersion="1.3.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="Log4netTraceListener" type="Vueling.Contingency.CrmNotifier.WindowsService.IntTest.Helpers.Log4netTraceListener, Vueling.Contingency.CrmNotifier.WindowsService.IntTest" />
      </listeners>
    </trace>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>

  <system.serviceModel>
    <client>
      <endpoint name="ServiceDirectoryEndpoint" address="net.tcp://wbcnvueprerez01/Nova.ServiceReflector.NetTcp.WebService/Services/ServiceDirectory.svc" binding="netTcpBinding" bindingConfiguration="netTcp" contract="Navitaire.Ncl.ComponentManagement.Services.IServiceDirectoryService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <security mode="None" />
          <readerQuotas maxDepth="32" maxArrayLength="16384" maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="netTcp" maxBufferSize="8388608" maxReceivedMessageSize="2147483647" receiveTimeout="00:15:00" sendTimeout="00:15:00">
          <security mode="None" />
          <readerQuotas maxDepth="32" maxArrayLength="16384" maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <Navitaire.Ncl.ComponentManager>
    <factories>
      <!--
            <add    priority="2"
                    type="Navitaire.Ncl.ComponentManagement.WcfClient.WcfClientFactory, Navitaire.Ncl"
                    catalogType="Navitaire.Ncl.ComponentManagement.WcfClient.WcfClientCatalog, Navitaire.Ncl"
                    catalogLoadStrategyType="Navitaire.Ncl.ComponentManagement.WcfClient.WcfClientCatalogLoadStrategy, Navitaire.Ncl">
                <properties>
                    <add key="clientMaxItemsInObjectGraph" value="999999" />
                </properties>
            </add>
            -->
      <add priority="1" type="Navitaire.Ncl.ComponentManagement.RemotingClient.RemotingClientFactory, Navitaire.Ncl" catalogType="Navitaire.Ncl.ComponentManagement.RemotingClient.RemotingClientCatalog, Navitaire.Ncl" catalogLoadStrategyType="Navitaire.Ncl.ComponentManagement.RemotingClient.RemotingClientCatalogLoadStrategy, Navitaire.Ncl" />

    </factories>
  </Navitaire.Ncl.ComponentManager>
  <appSettings>
    <add key="ServiceDirectoryServiceUri" value="tcp://RZURETST500-VY:28631/NewSkies.ServiceDirectory" />
    <add key="Environment" value="testr4x" />
    <add key="version" value="1.0.0.0" />
    <add key="owin:appStartup" value="CrmNotifier" />
    <add key="DebugMode" value="true" />
  </appSettings>

</configuration>
