<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="ServiceDirectoryServiceUri" value="tcp://RZPREAP500-VY:18631/NewSkies.ServiceDirectory" />
    <add key="Environment" value="prodr4x"  />
    <add key="version" value="1.0.0.0"  />
    <add key="owin:appStartup" value="CrmNotifier" />
  </appSettings>
</configuration>
